body {
    background-image: url(../assets/images/prism.png);
    background-size: cover;
}

.slides {
    margin-top: 20px;
}

#profileimg {
    height: 200px;
    width: 200px;
    margin-top: 20px;
    float: left;
    margin-right: 18px;
}

#bio-text {
    line-height: 2em;
    font-size: 16px;
    padding-top: 9px;
}

.card {
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    top: 24px;
}